@model WebAppPharmacy.Models.Category

@{
    ViewData["Title"] = "Удаление категории";
}

<div class="container mt-4">
    <h2 class="mb-4 text-danger">
        <i class="bi bi-trash me-2"></i> Удалить категорию
    </h2>

    <h3>Вы уверены, что хотите удалить эту категорию?</h3>

    <div class="row">
        <h4>Категория</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
    </div>

    <!-- Delete confirmation form -->
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger me-2">
            <i class="bi bi-check-circle me-2"></i> Удалить
        </button>
        <a asp-action="Index" class="btn btn-link">Отмена</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
