@model WebAppPharmacy.Models.Dictionaries.SaleStatus

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <h1 class="text-danger">
        <i class="bi bi-trash-fill me-2"></i> Удалить статус продажи
    </h1>

    <h3 class="text-warning">Вы уверены, что хотите удалить этот статус?</h3>

    <div>
        <h4>SaleStatus</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StatusName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StatusName)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <div class="btn-group" role="group">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left-circle me-2"></i> Назад к списку
            </a>
        </div>
    </form>
</div>