@model WebAppPharmacy.Models.ProductType

@{
    ViewData["Title"] = "Удаление типа продукта";
}

<div class="container mt-4">
    <h1 class="text-danger">
        <i class="bi bi-trash-fill me-2"></i> Удаление типа продукта
    </h1>

    <h3 class="text-danger">Вы уверены, что хотите удалить этот тип продукта?</h3>
    <div>
        <h4>Тип продукта</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeName)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>